*:not(:first-child):not(.Bestname) {
    color: white;
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
}
p{
    color: white;
}
a{
text-decoration: none;
color: white;
}
.w a{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style: none;
}


header{
    height: 100px;
}


body{
    font-family: 'Raleway', sans-serif;
}
.bruh{
    z-index: 3;
    overflow: hidden;
    height: 100px;
    width: 100px;
    position: fixed;
    left: 50px;
    bottom: 100px;
}
.bruh img{
    background-color: none;
    width: 100px;
    height: 100px;
    z-index: 10;
}
/*nav*/
.logo2{
    position: relative;
    height: 120px;
    background: black;
    justify-content: left;
}
.graphiclogo{
    padding: 5px;
    height: 100px;
    box-sizing: border-box;
}
.triangle{
    height: 16px;
    width: 20px;
    box-sizing: content-box;
}
.topnav{
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: black;
    font-size: 16px;
    margin-top: 40px;
}
.topnav a{
    color:white;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
}
.topnav a:hover{
    border-bottom: 2px solid white;
}
.topnav .icon{
    display: none;
}
/*nav*/
/*nav*/
.mobile{
    display: none;
}
@media screen and (max-width: 820px){
    .bigtext{
        display: none;
    }
    .nonmobile{
        display: none;
    }
    .mobile{
        display: block;
    }
    .menu li a{
    width: 100%;
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 10px 
}
    nav{
    height: 60px;
    
}
    .wrapper{
        z-index: 1;
        position: relative;
        top: 0px;
    }
    .logo img{
        background-color: black;
        width: 200px;
    }
    .logo{
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
    }
    .menu{
        background-color: black;
        width: 100%;
        display: none;
        position: absolute;
    }
    .menuToggle img{
        z-index: 10;
        height: 50px;
        width: 50px;
        transform: rotate(90deg);
        background-color: black;
    }
    .menu li{ 
        text-align: center;
        width: 100%;
    }
    .menuToggle{
      left: 0px;
      top: 0px;
      position: absolute;
      color: black;
      display: none;
      cursor: pointer;
      display: inline-block;
    }
}
/*advertisment*/
.video video{
    z-index: -10;
    width: 100%;
}
/*advertisment*/
/*newers*/
.newersname{
    position: absolute;
    top: -50px;
    left: 10px;
}
.newer{
    margin-top: 60px;
    margin-bottom: 30px;
    position: relative;
    padding-left: 2.5%;
    padding-right: 2.5%;
    height: 500px;
    width: 95%;
}
.newers{ 
    height: 500px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    position: relative;
}
.newest{
    box-sizing: border-box;
    position: relative;
    padding: 1.57%;
    width: 25%;
    height: 350px;
    border: 2px solid white;
    border-radius: 10px;
}
.newers img{
    width: 100%;
}
.ekoimg{
    overflow: hidden;
    height: 170px;
    width: 100%;
}
/* newers */
/*galary*/
.galary{
    margin: 30px 0px 30px 0px;
    position: relative;
    padding-right: 5%;
    padding-left: 5%;
    height: 500px;
    width: 90%;
}
.maingalary{
    height: 500px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    position: relative;
}
.project{
    box-sizing: border-box;
    padding: 1.66% 2.22% 1.66% 2.22% ;
    width: 25%;
}
.galary img{
    width: 100%;
}
/*galary*/
 /*Best2*/
.BestEver a{
    color: white;
}
.BestEver{
    position: relative;
    padding-left: 2.5%;
    padding-right: 2.5%;
    height: auto;
    width: 95%;
    flex-wrap: wrap;
    display: flex;
}
.Bestimg{
    padding: 1.578% 2.63% 1.578% 2.63% ;
    height: auto;
    width: 19.7%;
    position: relative;
    text-align: center;
}
.Bestname{
    position: absolute;
    top: -30px;
}
.BestEver img{
    z-index: -1;
    height: auto;
    width: 100%;
}

.diplom{
    width: 5.26%;
    position: absolute;
    text-align: center;
    bottom: 10px;
    left: 50%;
margin-left: -50px;
}
/*group1*/
/*group1*/
/*group1*/
/*the front page*/
.John1{
    z-index: 2;
    position: relative;
    width: 90%;
}
.Romero{
    height: auto;
    width: 66.66%;
    float: left;
}
.group1text{
    font: 35px bold ;
    color:  red;
    text-align: center;
}
.group1text p{
    height: auto;
    text-align: center;
}
/*the front page*/

/*profs1*/
.profs1{
    height: auto;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.allprofs1{
    top: 40px;
    height: auto;
    width: 100%;
    margin-top: 40px;
    position: relative;
}
.profs1name{
    position: absolute;
    top: 0px;
    left: -80px;
}
.design{
    height: auto;
    width: 31.25%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}
.design:not(:first-child):not(:last-child){
    padding-left: 3.125%;
    padding-right: 3.125%;
}
.desimg{
    margin-top: 40px;
    height: auto;
    width: 100%;
    overflow: hidden;
}
.desimg img{
    height: auto;
    width: 100%;
}
.profs1text{
    text-align: center;
}
/*profs1*/
/*projects1*/
.projects1name{
position: relative;
left: -40px;
}
.projects1{
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    padding-right: 10%;
    padding-left: 10%;
    height: auto;
    width: 80%;
}
.projects1main{
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    position: relative;
}
.project1{
    overflow: hidden;
    height: auto;
    width: 31.25%;
}
.project1:not(:first-child):not(:last-child){
    padding-left: 3.125%;
    padding-right: 3.125%;
}
.projects1 img{
    padding-top: 30px;
    height: auto;
    width: 100%;
}

/*projects1*/
/*enjoers*/
.ppl1{
    position: relative;
    width: 80%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
}
.ppl1name{
    position: relative;
    text-align: center;
    top: 0px;
    width: 100%;
}
.pplgroup1{
    top: 150px;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 200px;
}
.pplgroup1 div{
    text-align: center;
    box-sizing: border-box;
    border: 5px solid red;
    height: auto;
    width: 50%;
}
/*enjoers*/
/*group1*/
/*group1*/
/*group1*/

/*group2*/
/*group2*/
/*group2*/
/*the front page*/
.John2{
    z-index: 2;
    position: relative;
    width: 90%;
}
.Carmack{
    height: auto;
    width: 66.66%;
    float: left;
}
.group2text{
    font: 35px bold ;
    color:  red;
    text-align: center;
}
.group2text p{
    height: auto;
    text-align: center;
}
/*the front page*/

/*profs2*/
.profs2{
    height: auto;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.allprofs2{
    height: auto;
    width: 100%;
    margin-top: 40px;
    position: relative;
    bottom: -40px;
}
.profs2name{
    position: absolute;
    top: 0px;
    left: -100px;
}
.programming{
    height: auto;
    width: 31.25%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}
.programming:not(:first-child):not(:last-child){
    padding-left: 3.125%;
    padding-right: 3.125%;
}
.proimg{
    margin-top: 40px;
    height: auto;
    width: 100%;
    overflow: hidden;
}
.proimg img{
    height: auto;
    width: 100%;
}
.profs2text{
    text-align: center;
}
/*profs2*/
/*projects2*/
.projects2name{
    position: relative;
    left: -30px;
}
.projects2{
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    margin-left: 5%;
    height: auto;
    width: 80%;
}
.projects2main{
    height: auto;
    width: 100%;
    display: block;
    position: relative;
}
.outproject2{
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    height: auto;
    width: 100%;
}
.project2{
    overflow: hidden;
    height: auto;
    width: 31.25%;
}
.projects2 img{
    width: 100%;
}
.outproject2 p{
    padding-top: 30px;
    top: 0px;
    left: 31.25%;
    position: absolute;
}
/*projects2*/
/*enjoers*/
.ppl2{
    position: relative;
    width: 80%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
}
.ppl2name{
    position: relative;
    text-align: center;
    top: 0px;
    width: 100%;
}
.pplgroup2{
    top: 150px;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 200px;
}
.pplgroup2 div{
    text-align: center;
    box-sizing: border-box;
    border: 5px solid red;
    height: auto;
    width: 50%;
}
/*enjoers*/
/*group2*/
/*group2*/
/*group2*/

/*concurs*/
/*concurs*/
/*concurs*/
.fix{
    width: 100%;
}
.pagename4{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
/*big*/
.bigger{
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    width: 90%;
    height: auto;
}
.big{
    width: 100%;
    position: relative;
}
.bigimg{
    position: relative;
    height: auto;
    width: 81.25%;
}
.bigtext{
    text-align: left;
    left: 81.25%;
    padding-top: 0.1%;
    position: absolute;
  width: 21.052%;
}
.big a{
    height: auto;
}
/*big*/
/*smol*/
.smaller{
    position: relative;
    padding-right: 5%;
    padding-left: 5%;
    height: auto;
    width: 90%;
}
.concurs{
    height: auto;
    width: 100%;
    display: block;
    position: relative;
}
.outconcurs{
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    height: auto;
    width: 88.888%;
}
.concur{
    background-color: black;
    height: auto;
    width: 31.25%;
}
.concur img{
    height: auto;
    width: 100%;
}
.outconcurs p{
    top: 0px;
    left: 31.28%;
    position: absolute;
}
/*smol*/
/*concurs*/
/*concurs*/
/*concurs*/

/*maingalary*/
/*maingalary*/
/*maingalary*/
.maingalaryname{
    text-align: center;
}
/*photo_galary*/
.galaryphotos{
    margin-top: 100px;
    position: relative;
    padding-right: 2.5%;
    padding-left: 2.5%;
    height: auto;
    width: 95%;
}
.maingalaryphotos{
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    position: relative;
}
.photo{
    padding: 30px 2.21% 30px 2.21% ;
    height: auto;
    width: 20.58%;
}
.galaryphotos img{
    width: 100%;
}
/*photo_galary*/
/*reward*/
/*photo_galary*/
.reward{
    margin-top: 100px;
    position: relative;
    padding-right: 2.5%;
    padding-left: 2.5%;
    height: auto;
    width: 95%;
}
.mainreward{
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    position: relative;
}
.rewarded{
    padding: 30px 2.21% 30px 2.21% ;
    height: auto;
    width: 20.58%;
}
.reward img{
    width: 100%;
}
/*reward*/
/*proprojects*/
.proprojectname{
    position: relative;
    left: -40px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.proprojects{
    position: relative;
    margin-right: 5%;
    margin-left: 5%;
    height: 100%;
    width: 90%;
}

.eko1{
    float: left;
    height: auto;
    width: 40%;
}
.ekonom{
    height: 100%;
    display: block;
}
.left {
    height: 400px;
    padding-bottom: 1%;
    width: 100%;
}
/*proprojects*/
/*projects2*/
.desprojects{
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    margin-left: 5%;
    height: auto;
    width: 80%;
}
.desprojectsmain{
    padding-top: 60px;
    height: auto;
    width: 100%;
    display: block;
    position: relative;
}
.outdesproject{
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    height: auto;
    width: 100%;
}
.desproject{
    overflow: hidden;
    height: auto;
    width: 31.25%;
}
.desprojects img{
    width: 100%;
}
.outdesproject p{
    padding-top: 30px;
    top: 0px;
    left: 31.25%;
    position: absolute;
}
.outdesproject h1{
    padding-top: 0px;
    top: -20px;
    left: 0px;
    position: absolute;
    z-index: 10;
}
/*projects2*/
/*maingalary*/
/*maingalary*/
/*maingalary*/
